<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Duplicate Name Exception Page</title>
</head>
<body>
<h3>There's already an item with the given name. Please choose another item name</h3>
<br>
<a th:href="@{/restaurant/showFormForAddItem}"><button class="bth btn-secondary">Go Back</button></a></div>
<br><br>
<a th:href="@{/restaurant/menu}"><button class="bth btn-secondary">View Menu</button></a></div>
</body>
</html>